
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
 font-family: 'Roboto', sans-serif;
}
.App {

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width:100%;
	height: 100vh;

	background-image:url("./assets/chania-sunset.jpg");
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}


/* weather */
.weather-container {
  position: absolute;
  top: 2%;
  right: 0;
  margin: 0 1vw;
  color: rgba(255, 255, 255, 0.8);
	font-size: 1.5rem;
}

.weather-temp {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
	text-align: right;
}

.weather-city {
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0.5rem 0;
	margin: 0;
}

/* greeting/time */
.greeting-container {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 90vw;
  color: white;
	text-align: center;
}

.clock-time {
	font: bold 12rem Roboto;
	margin: 0;
}

.greeting-text {
  font-size: 5rem;
  margin: 0;
  width: 100%;
	white-space: nowrap;
}

@media (max-width: 700px) {
  .clock-time {
		font: bold 8rem 'Roboto';
	}
  .greeting-text {
		font-size: 4rem;
	}
	}

@media (max-height: 630px) {
  .clock-time {
		font: bold 8rem 'Open sans', sans-serif;
	}
  .greeting-text {
		font-size: 4rem;
	}
}

@media (max-height: 420px) {
  .clock-time {
		display: none;
	}
  .greeting-text {
		font-size: 4rem;
	}
	}

@media (max-height: 300px) {
  .greeting-container {
		top: 25%;
	}
  .greeting-text {
		font-size: 3rem;
	}
	}


	/* settings */
	.settings-container {
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  bottom: 2%;
  left: 0;
  display: flex;
  align-items: center;
	padding: 0.5rem;
}

.settings-icon {
  margin: 0 1vw;
  font-size: 2rem;
	color: rgba(255, 255, 255, 0.8);
}
  .settings-icon:hover {
		color: white;
	}

.location-container:hover .location-title {
	transform: translateY(-10px);
}

.location-container:hover .location-photographer {
  transform: translateY(-30px);
	opacity: 1;
}

.location-title {
  font-size: 1.2rem;
  font-weight: 100;
	transition: all 0.5s ease;
}

.location-photographer {
  position: absolute;
  font-size: 1rem;
  transform: translateY(-35px);
  opacity: 0;
	transition: all 0.5s ease;
}

/* search */
.search-container {
  position: absolute;
  top: 2%;
  left: 5%;
	z-index: 2;
}

.search-form {
  padding: 0 0.5rem;
	margin: 0 1rem;
}

.search-underline {
	padding: 1rem;
}

.search-icon {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
	padding-right: 0.5rem;
}

.search-form-input {
  background: inherit;
  border: none;
  color: white;
	font-size: 1.5rem;
}
  .search-form-input:focus {
    outline: none;
		border-bottom: 2px solid white;
	}

	/* quotes */
	.quotes-container {
  position: absolute;
  left: 25%;
  bottom: 2%;
  width: 50vw;
	padding: 1rem 0;
}

.quotes-container:hover .quote-display {
	transform: translateY(-15px);
}

.quotes-container:hover .author-twitter-container {
  opacity: 1;
	transform: translateY(-10px);
}

.quote-display {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  margin: 0;
  transform: translateY(0px);
  cursor: pointer;
	transition: all 0.3s ease;
}
  .quote-display .quote-item {
    margin: 0;
		text-align: center;
	}

.author-twitter-container {
  position: absolute;
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  margin: 0 0.25rem;
  width: 50vw;
  opacity: 0;
  transform: translateY(-20px);
	transition: all 0.3s ease 0.2s;
}

.author {
  font-size: 1.3rem;
  padding: 0.25rem 1rem;
	margin: 0;
}

.twitter-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.5rem;
	cursor: pointer;
}

.twitter-icon:hover {
  color: white;
	font-size: 2rem;
}

/* links */
.links-container {
  position: absolute;
  left: 0;
  top: 2%;
  margin: 0 1vw;
  width: 20vw;
	z-index: 2;
}

.links-click-label {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  text-align: left;
  padding: 0.5rem;
  margin: 0 0.5rem 1rem;
	cursor: pointer;
}

.links-list-container {
  visibility: hidden;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  color: #bfbfbf;
  list-style: none;
	width: 15vw;
}
  .links-list-container a {
    color: inherit;
		text-decoration: none;
	}

.links-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-between;
  justify-content: center;
  color: white;
  list-style: none;
  padding: 0.5rem 0.25rem;
  margin: 0;
	cursor: pointer;
}

.links-list-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.05rem 0.5rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
	color: #bfbfbf;
}
  .links-list-item:hover {
		color: white;
	}

.add-link-container {
	padding: 0.25rem 0.5rem;
}

.add-link-click-label {
  font-size: 1.2rem;
  padding: 0 0.25rem;
	cursor: pointer;
}

.add-link-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 0 0.5rem;
}
  .add-link-form form {
		width: 90%;
	}

.add-link-input {
  background: inherit;
  border: none;
  color: white;
  font-size: 1.2rem;
	width: 100%;
}
  .add-link-input:focus {
		outline: none;
	}

.list-item-delete-button {
  color: #bfbfbf;
  font-size: 1rem;
	cursor: pointer;
}

.add-link-input-button {
  visibility: hidden;
	display: none;
}

.add-link-close-button {
  color: #bfbfbf;
  font-size: 1.2rem;
	cursor: pointer;
}
  .add-link-close-button:hover {
		color: white;
	}

.active {
  display: block;
	visibility: visible;
}

.hidden {
  display: none;
  visibility: hidden;
	}

/* focus */
h3 {
  font: 3rem Arial, sans-serif;
  color: white;
  margin: 0;
	padding: 1rem;
}

h4 {
  font: 2rem Arial, sans-serif;
  color: white;
  margin: 0;
	padding: 1rem;
}

.focus-form-container {
  position: absolute;
  bottom: 15%;
  left: 25%;
  text-align: center;
	width: 50vw;
}

.add-main-goal-container {
	padding: 1rem;
}

.focus-form {
  padding: 1rem;
	text-align: center;
}

.focus-form-input {
  background: inherit;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 3rem;
  text-align: center;
	width: 70%;
}
  .focus-form-input:focus {
		outline: none;
	}

.main-goal-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
	padding: 1rem;
}

.main-goal-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
	width: 50%;
}
  .main-goal-form h3 {
		padding: 0 1rem;
	}

button {
  color: rgba(255, 255, 255, 0.8);
  background: none;
  border: none;
  border-radius: 100%;
	font-size: 1.5rem;
}
  button:hover {
		color: white;
	}

.hidden {
  display: none;
	visibility: hidden;
}

@media (max-width: 560px) {
  h3 {
		font-size: 2rem;
	}
  .focus-form-container {
    left: 0;
		width: 100vw;
	}
  .add-main-goal-container {
		padding: 0 0.25rem;
	}
  .focus-form {
		padding: 0 0.25rem;
	}
  .focus-form-input {
		font-size: 1.5rem;
	}
  .main-goal-container {
		padding: 0;
	}
  .main-goal-form {
		padding: 0;
	}
}

@media (max-height: 520px) {
  h3 {
		font-size: 2rem;
	}
  .add-main-goal-container {
		padding: 0.25rem;
	}
  .focus-form {
		padding: 0 0.25rem;
	}
  .focus-form-input {
		font-size: 1.5rem;
	} }

@media (max-height: 420px) {
  .focus-form-container {
		bottom: 25%;
	}
  .main-goal-container {
		padding: 0;
	}
  .main-goal-form {
    padding: 0;
		} }

		/* todos */
		button {
  color: rgba(255, 255, 255, 0.8); }
  button:hover {
    color: white; }

.todo-container {
  position: absolute;
  right: 0;
  bottom: 2%;
  margin: 0 1vw;
  list-style: none;
  width: 23vw; }

.todo-click-label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: right;
  padding: 0.5rem;
  margin: 0 0.5rem;
  cursor: pointer; }

.todo-list-container {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem; }

.todo-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-between;
  justify-content: center;
  color: white;
  list-style: none;
  padding: 0; }

.todo-list-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  font-size: 1.5rem;
  line-height: 3rem; }

.add-item-container {
  padding: 0.5rem; }

.add-item-input {
  background: inherit;
  border: none;
  color: white;
  font-size: 1.2rem;
  width: 100%; }
  .add-item-input:focus {
    outline: none; }

.active {
  visibility: visible; }
